@import "./utils/variable_overrides.scss";
@import "./utils/variables.scss";

@import "./layout/header.scss";
@import "./layout/footer.scss";

@import "./pages/panier.scss";
@import "./pages/index.scss";

@import "../node_modules/bootstrap/scss/bootstrap.scss";