header i {
    margin-right: 5px;
    background: linear-gradient(to right, $brandleft 0%, $brandright 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-family: 'lemonada';
    color: white;
}

.align {
    text-align: right;
}