header i {
    margin-right: 5px;
    background: linear-gradient(to right, $brandleft 0%, $brandright 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    //font-family: 'lemonada';
    @media (max-width: 540px) {
        font-size: 20px;
    }
}

.align {
    text-align: right;
}